# Prefer a flake-defined environment and reload when local inputs change.
if has nix; then
  watch_file flake.nix
  watch_file flake.lock
  watch_file devshell.nix
  watch_file treefmt.nix
  watch_file lib/default.nix
  watch_file shell.nix
  watch_file .envrc.local

  use flake .
fi

source_env_if_exists .envrc.local
